<nav class="sidebar-navigation">
  <section class="sidebar-navigation--logo">
    <a href="../index.html">
    <img src="/assets/images/ada-logo-trees.png"
         alt="Turing School of Software and Design"
         class="turing-logo"></a>
  </section>
  <div class="sidebar-navigation--links">
    <section class="sidebar-navigation--before">
      <h1>Before Ada</h1>
      <ul>
        <li><a href="/jumpstart">Jumpstart</a></li>
      </ul>
    </section>
    <section class="sidebar-navigation--during">
      <h1>During Ada</h1>
      <ul>

        <li><a href="/Calendar">Cohort Calendars</a></li>
        <li><a href="/lessons">Lessons</a></li>
        <li><a href="/Videos">Videos</a></li>
        <li><a href="/github-profiles">Student Github Links</a></li>
      </ul>
    </section>
  </div>
</nav>
